body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center /* For horizontal alignment */;
  padding-top: 5em;
  padding-bottom: 8em;
  font-family: PingFang SC, -apple-system, BlinkMacSystemFont, HarmonyOS_Medium, Helvetica Neue, , Microsoft YaHei, sans-serif, Roboto, "Helvetica Neue", Arial, system-ui, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #1a202c;
}
div#content {
  width: 40em;
  max-width: 90%;
}
h1:after,
h2:after,
h3:after,
h4:after,
h5:after,
h6:after {
  width: 40px;
  height: 11px;
  content: "";
  display: block;
  background: #6976e7;
  opacity: 0.25;
  pointer-events: none;
  border-radius: 15px;
  margin-left: -5px;
  bottom: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 30px;
  line-height: 22px;
}
h2 {
  font-size: 26px;
  line-height: 20px;
}
h3 {
  font-size: 22px;
  line-height: 17px;
}
h4 {
  font-size: 18px;
  line-height: 12.5px;
}
h5 {
  font-size: 15px;
  line-height: 10px;
}
h6 {
  font-size: 13px;
  line-height: 9px;
}
a {
  color: #6976e7;
  text-decoration: underline;
  font-weight: bold;
}
div#menu-outer {
  margin-top: 0.5em;
}
nav#menu-inner a,
nav#menu-inner span {
  margin-right: 1em;
  font-weight: 520;
}
nav#menu-inner span {
  color: #1a202c;
  text-decoration: none;
}
nav#menu-inner a {
  color: #6976e7;
  text-decoration: underline;
  font-weight: bold;
}
div#content-outer {
  margin-top: 2em;
}
div#content-outer div#content-inner div#paginator {
  margin-top: 4em;
}
div#content-outer div#content-inner div#paginator a {
  margin-right: 1em;
}
div#content-outer div#content-inner div#paginator span {
  color: #6976e7;
  margin-right: 1em;
}
div.post-item {
  margin-bottom: 1em;
}
div.post-item p {
  margin-top: 0;
  margin-bottom: 0.5em;
}
div.post-item p a {
  color: #19202b;
  font-size: 1.2em;
  text-decoration: none;
}
time {
  color: #b9bfcc;
}
div#bottom-inner {
  margin-top: 8em;
}
div#bottom-inner hr {
  background: #ccc;
  height: 1px;
  border: none;
}
div#bottom-inner div {
  height: 2em;
}
div#bottom-inner div img {
  width: 1em;
  height: 1em;
  margin-left: 1em;
  margin-top: 3px;
}
img {
  max-width: 100%;
}
aside li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#post {
  color: #1a202c;
}
#post p {
  text-align: justify;
}
#post ol,
#post ul {
  padding-inline-start: 1.5em;
}
#post img {
  display: block;
  margin: auto;
}
#post table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  corner-radius: 2em;
  width: 100%;
}
#post table thead tr {
  background-color: #ccc;
  color: #fff;
  text-align: left;
}
#post table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
#post table tbody tr:last-of-type {
  border-bottom: 1px solid #f3f3f3;
}
#post table th,
#post table td {
  padding: 12px 15px;
}
#post blockquote {
  border-left: 0.2em solid #6976e7;
  margin: 1.5em 0px;
  padding: 1.5em 10px;
}
#post blockquote p {
  display: inline;
}
#post blockquote.pullquote {
  background: none;
  border-left: none;
  text-align: left;
  width: 45%;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-family: font-serif;
  color: #6976e7;
}
#post blockquote.pullquote.left {
  margin-right: 1em;
  float: left;
}
#post blockquote.pullquote.right {
  margin-left: 1em;
  float: right;
}
#post hr {
  background: #ccc;
  height: 1px;
  border: none;
}
#post .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
#post .video-container iframe,
#post .video-container object,
#post .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
#post div.post-tags {
  margin-top: 5em;
}
#post div.post-tags a {
  color: #6976e7;
}
#post p code {
  background: #f3f3f3;
  padding: 0.2em 0.2em;
}
#post pre[class*='language-'].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
  line-height: $line-height-code-block;
}
#post pre[class*='language-'].line-numbers > code {
  position: relative;
  line-height: $line-height-code-block;
  white-space: inherit;
  word-wrap: normal;
  word-break: normal;
  overflow-wrap: normal;
}
#post pre[class*='language-'].line-numbers .line-numbers-rows {
  position: absolute;
  top: 0;
  left: -3.8em;
  width: 3em;
  letter-spacing: -1px;
  font-size: 100%;
  pointer-events: none;
  user-select: none;
}
#post pre[class*='language-'].line-numbers .line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
  pointer-events: none;
}
#post pre[class*='language-'].line-numbers .line-numbers-rows > span:before {
  display: block;
  padding-right: 0.8em;
  color: var(--hlnumber-color);
  content: counter(linenumber);
  text-align: right;
}
pre[class*='language-'] .token {
  color: primary-color;
}
pre[class*='language-'] .token.class-name {
  color: #0076ff;
}
pre[class*='language-'] .token.function {
  color: #52006a;
}
pre[class*='language-'] .token.comment,
pre[class*='language-'] .token.prolog,
pre[class*='language-'] .token.doctype,
pre[class*='language-'] .token.cdata {
  color: rgba(149,165,166,0.8);
}
pre[class*='language-'] .token.punctuation {
  color: code-primary-color;
}
pre[class*='language-'] .token.namespace {
  opacity: 0.7;
}
pre[class*='language-'] .token.property {
  color: #52006a;
}
pre[class*='language-'] .token.tag {
  color: #52006a;
}
pre[class*='language-'] .token.string {
  color: rgba(149,165,166,0.8);
}
pre[class*='language-'] .token.selector {
  color: #52006a;
}
pre[class*='language-'] .token.attr-name {
  color: #ff0078;
}
pre[class*='language-'] .token.entity,
pre[class*='language-'] .token.url,
pre[class*='language-'] .language-css .token.string,
pre[class*='language-'] .style .token.string {
  color: rgba(149,165,166,0.8);
}
pre[class*='language-'] .token.attr-value {
  color: rgba(149,165,166,0.8);
}
pre[class*='language-'] .token.keyword,
pre[class*='language-'] .token.control,
pre[class*='language-'] .token.directive,
pre[class*='language-'] .token.unit {
  color: #ff0078;
}
pre[class*='language-'] .token.statement,
pre[class*='language-'] .token.regex,
pre[class*='language-'] .token.atrule {
  color: #52006a;
}
pre[class*='language-'] .token.placeholder,
pre[class*='language-'] .token.variable {
  color: #52006a;
}
pre[class*='language-'] .token.deleted {
  text-decoration: line-through;
}
pre[class*='language-'] .token.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none;
}
pre[class*='language-'] .token.italic {
  font-style: italic;
}
pre[class*='language-'] .token.important,
pre[class*='language-'] .token.bold {
  font-weight: bold;
}
pre[class*='language-'] .token.important {
  color: #ff0078;
}
pre[class*='language-'] .token.entity {
  cursor: help;
}
pre[class*='language-'] pre > code.highlight {
  outline: 0.4em solid #c94922;
  outline-offset: 0.4em;
}
#post pre[class*='language-']::-webkit-scrollbar-thumb {
  background: var(--hlscrollbar-bg);
}
#post pre[class*='language-']:not(.line-numbers) {
  padding: 10px 20px;
}
#post pre[class*='language-'] .caption {
  font-size: 0.85em;
  color: rgba(149,165,166,0.8);
  line-height: 1em;
  margin-bottom: 1em;
}
#post pre[class*='language-'] .caption a {
  padding: 0.5em !important;
}
#post pre {
  background: #f7f7f7;
}
#post pre,
#post code {
  overflow: auto;
  font-size: 0.9em;
  font-family: Fira Code, Consolas, Liberation Mono, Courier New, monospace !important;
  border-radius: 0.3em;
}
